{% extends "base.html.twig" %}

{% block body %}
<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-file"></i>&nbsp;&nbsp;<b>Ingreso de datos</b>
    </div>
    <form action="{{path('createRecord')}}" method="post">
    <div class="card-body" style="padding-bottom:0px;padding-top:16px;">
        {% if record is defined %}
        <div class="row">
            <div class="col-md-2">
                <label>Código interno<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Histarch[codInterno]" value="{{record.id}}" required>
            </div>
            <div class="col-md-2">
                <label>Código carpeta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Histarch[codCarpeta]" value="{{record.codCarpeta}}" required>
            </div>
            <div class="col-md-2">
                <label>Legajo<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Histarch[legajo]" value="{{record.legajo}}" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Fecha retiro<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Histarch[fechaDesde]" value="{{record.fechaRetiro|date('d-m-Y')}}}}}}" required>
            </div>
            <div class="col-md-3">
                <label>Fecha devolución<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Histarch[fechaHasta]" value="{{record.fechaDevolucion|date('d-m-Y')}}}}}}" required>
            </div>
        </div>
        <br>
        {% else %}
        <div class="row">
            <div class="col-md-2">
                <label>Código interno<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Histarch[codInterno]" value="" required>
            </div>
            <div class="col-md-2">
                <label>Código carpeta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Histarch[codCarpeta]" value="" required>
            </div>
            <div class="col-md-2">
                <label>Legajo<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Histarch[legajo]" value="" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Fecha retiro<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Histarch[fechaDesde]" value="" required>
            </div>
            <div class="col-md-3">
                <label>Fecha devolución<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Histarch[fechaHasta]" value="" required>
            </div>
        </div>
        <br>
        {% endif %}
        <div class="float-right mb-3">
            <button  class="btn btn-info" style="margin-top:30px;" type="submit"> 
                <i class="far fa-check-circle"></i> {% if folder is defined %} Guardar cambios {% else %} Armar registro {% endif %}
            </button>
            <a class="btn btn-secondary text-white" onclick="return confirm('¿Está seguro que desea cancelar la carga?')" style="margin-top:30px;" href="{{path('viewRecords')}}"> 
                <i class="fas fa-undo-alt"></i> Cancelar
            </a>
        </div>
    </div>
    </form>
</div>
{% endblock %}