{# Modal retirar carpeta #}
{% extends "base.html.twig" %}
{% block body %}
<div class="modal fade" id="modalRetirarCarpeta" tabindex="-1" role="dialog" aria-labelledby="modalRetirarCarpetaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRetirarCarpetaLabel">Retirar carpeta</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <label>Legajo<span class="ml-1 text-danger">*</span></label>
                        {# <select class="form-control" name="HistarchRetire[legajo]" required>
                            <option value="">Seleccione un legajo</option>
                            {% for empleado in empleados %}
                                <option value="{{empleado.id}}">{{empleado.nombre}} - {{empleado.id}} </option>
                            {% endfor %}
                        </select> #}
                        <input list="empleados" type="number" name="HistarchRetire[legajo]" class="form-control" id="empleado" placeholder="Seleccione un legajo" value="" required  >
                        <datalist id="empleados">               
                        {% for empleado in empleados %}
                            <option value="{{empleado.id}}">{{empleado.id}} - {{empleado.nombre}}</option>
                        {% endfor %}
                        </datalist>
                    </div>
                    <div class="col-md-5">
                        <label>Fecha retiro<span class="ml-1 text-danger">*</span></label>
                        <input class="form-control" type="date" name="HistarchRetire[fechaRetiro]" value="{{now|date('Y-m-d')}}" readonly> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-info" style="margin-top:30px;" type="submit"> 
                    <i class="far fa-check-circle"></i>Retirar
                </button> 
                <a class="btn btn-secondary text-white" href="{{path('viewFolders')}}"  style="margin-top:30px;"> 
                    <i class="fas fa-undo-alt"></i> Cancelar
                </a>
            </div>    
        </div>
    </form>
  </div>
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{ asset('js/staticModal.js') }}"></script>
{% endblock %}

