{% extends "base.html.twig" %}

{% block body %}
<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-file"></i>&nbsp;&nbsp;<b>Ingreso de datos</b>
    </div>
    <form method="post">
    <div class="card-body" style="padding-bottom:0px;padding-top:16px;">
        {% if folder is defined %}
        <div class="row">
            <div class="col-md-2">
                <label>N° carpeta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Carpecaja[nroCarp]" value="{{folder.nroCarpeta}}" required>
            </div>
            <div class="col-md-5">
                <label>Título carpeta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Carpecaja[tituloCarp]" value="{{folder.tituloCarp}}" required>
            </div>
            <div class="col-md-2">
                <label>Código caja<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Carpecaja[codigoCaja]" value="{{folder.codCaja}}" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde<span class="ml-1 text-danger">*</span></label>
                <input value="{{folder.fechaDesdeCarp|date('Y-m-d')}}" type="date" class="form-control" name="Carpecaja[fechaDesde]" required>
            </div>
            <div class="col-md-3">
                <label>Fecha hasta<span class="ml-1 text-danger">*</span></label>
                <input value="{{folder.fechaHastaCarp|date('Y-m-d')}}" type="date" class="form-control" name="Carpecaja[fechaHasta]" required>
            </div>
        </div>
        <br>
         <div class="row">
            <div class="col-md-4">
                <label>Estado<span class="ml-1 text-danger">*</span></label>
                <select class="form-control" name="Carpecaja[estado]" id="" required>
                    <option value="0" {% if folder.nEstado == 0 %} selected {% endif %}>En Archivo</option>
                    <option value="1" {% if folder.nEstado == 1 %} selected {% endif %}>Retirada</option>
                </select>
            </div>       
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-2">
                <label>N° carpeta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Carpecaja[nroCarp]" value="" required>
            </div>
            <div class="col-md-5">
                <label>Título carpeta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Carpecaja[tituloCarp]" value="" required>
            </div>
            <div class="col-md-2">
                <label>Código caja<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Carpecaja[codigoCaja]" value="" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <label>Fecha desde<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Carpecaja[fechaDesde]" value="" required>
            </div>
            <div class="col-md-3">
                <label>Fecha hasta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Carpecaja[fechaHasta]" value="" required>
            </div>
        </div>
        <br>
         <div class="row">
            <div class="col-md-4">
                <label>Estado<span class="ml-1 text-danger">*</span></label>
                <select class="form-control" name="Carpecaja[estado]" id="" required>
                    <option value="" required>Seleccione una opción</option>
                    <option value="0">En Archivo</option>
                    <option value="1">Retirada</option>
                </select>
            </div>       
        </div>
        {% endif %}
        <div class="float-right mb-3">
            <button  class="btn btn-info" style="margin-top:30px;" type="submit"> 
                <i class="far fa-check-circle"></i>{% if folder is defined %} Guardar cambios {% else %} Armar carpeta {% endif %}
            </button>
            <a class="btn btn-secondary text-white" onclick="sweetAlert()" style="margin-top:30px;"> 
                <i class="fas fa-undo-alt"></i> Volver
            </a>
        </div>
    </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{ asset('js/customAlerts.js') }}"></script>
{% endblock %}

