{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Cajas {% endblock %}

{% block body %}

<!-- HEADER -->
<div class="row">

<!-- FILTERING -->
  <div class="col-md-12">
    <div  id="filters" class="collapse">
      <form class="card pl-3 pr-3 pt-2 bg-light mb-3" action="{{ path('viewBoxes') }}" method="get">
        <div class="row">
          <div class="col-md-2">{{ form_row(filterForm.id) }}</div>
          <div class="col-md-2">{{ form_row(filterForm.codEstante) }}</div>
          <div class="col-md-2">{{ form_row(filterForm.codLado) }}</div>
          <div class="col-md-2">{{ form_row(filterForm.columna) }}</div>
          <div class="col-md-2">{{ form_row(filterForm.piso) }}</div>
          <div class="col-md-1"></div>
          <div class="col-md-4">{{ form_row(filterForm.tituloCaja) }}</div>
          <div class="col-md-3">{{ form_row(filterForm.codArea) }}</div>
          <div class="col-md-3">{{ form_row(filterForm.observa) }}</div>

          {# Falta los nros DESDE Y HASTA #}

          {# INICIO Render manual date range#}
          <div id="fecha" class="col-md-5">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="fecha_left_date">Fecha carga desde</label>
                  <input type="date" id="fecha_left_date" name="fechaDesdeCaja[left_date]" class="form-control" value="{{ filterForm.fechaDesdeCaja.children.left_date.vars.value}}" />
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="fecha_right_date">Fecha carga hasta</label>
                  <input type="date" id="fecha_right_date" name="fechaDesdeCaja[right_date]" class="form-control" value="{{ filterForm.fechaDesdeCaja.children.right_date.vars.value}}"/>
                </div>
              </div>
            </div>
          </div> 
          {% do filterForm.fechaDesdeCaja.setRendered %}
          {# FIN Render manual date range#}

          {# INICIO Render manual date range#}
          <div id="fecha" class="col-md-5">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="fecha_left_date">Archivado desde</label>
                  <input type="date" id="fecha_left_date" name="archivadoHasta[left_date]" class="form-control" value="{{ filterForm.archivadoHasta.children.left_date.vars.value}}" />
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="fecha_right_date">Archivado hasta</label>
                  <input type="date" id="fecha_right_date" name="archivadoHasta[right_date]" class="form-control" value="{{ filterForm.archivadoHasta.children.right_date.vars.value}}"/>
                </div>
              </div>
            </div>
          </div> 
          {% do filterForm.archivadoHasta.setRendered %}
          {# FIN Render manual date range#}

          <div class="col-md-6">
            {{ form_rest(filterForm) }}
          </div>

          <div class="col-md-12">
              <div class="form-group">
                  <button type="submit" class="btn btn-warning" name="filter_action" value="filter"><i class="fas fa-filter"></i> Filtrar</button>
                  <button type="submit" class="btn btn-secondary" name="filter_action" value="reset"><i class="fas fa-minus"></i> Reset</button>
              </div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- END FILTERING -->

  <!-- PAGE SIZE -->
  <div class="col-md-3 pull-left">
    <div class="pagination form-inline ">
      <select class = "form-control"  onchange="window.location = this.value" >
          <option value='{{ path('viewBoxes', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show')  == 10 %}  selected {% endif %}>10</option>
          <option value='{{ path('viewBoxes', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show')  == 20 %}  selected {% endif %}>20</option>
          <option value='{{ path('viewBoxes', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show')  == 50 %}  selected {% endif %}>50</option>
          <option value='{{ path('viewBoxes', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
          <option value='{{ path('viewBoxes', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
      </select>
    </div>

  </div>

  <!-- END PAGE SIZE -->

  <div class="col-md-6"></div>

  <!-- FILTER BUTTON -->
  <div class="col-md-3">
    <div class="float-right">
      <a class="btn btn-secondary text-white dropdown-toggle pull-right h3" data-toggle="collapse" data-target="#filters">Filtro<span class="caret"></span></a>
      <a class="btn btn-primary h3 pull-right" href="{{ path('createBox') }}" style="margin-bottom:10px"><i class="fas fa-plus"></i> Nuevo</a>
    </div>
  </div>
  <!-- END FILTER BUTTON -->

  <!-- FORM ERRORS -->
  <div class="col-md-12">
        {%- if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
  </div>
  <!-- FORM ERRORS -->

<!-- END HEADER -->
</div>

<!-- /TABLE WITH SORT -->

<form method="POST" id="bulk_form" action="{{ path('depcaja_bulk_action') }} ">
  <div class="card mb-4 mt-4">
    <table class="table table-striped table-hover table-sm" id="tabla" namefile="Depcaja">
      <thead>
        <tr>
          {% import "@generator_bundle/th_sortable.html.twig" as macros %} 
          <th style="border:0px;">{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Código caja')}}</th>
          <th style="border:0px;">{{macros.th_sortable('codEstante',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Código estante')}}</th>
          <th style="border:0px;">{{macros.th_sortable('codLado',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Código lado')}}</th>
          <th style="border:0px;">{{macros.th_sortable('columna',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Columna')}}</th>
          <th style="border:0px;">{{macros.th_sortable('piso',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Piso')}}</th>
          <th style="border:0px;">{{macros.th_sortable('codArea',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Código área')}}</th>
          <th style="border:0px;">{{macros.th_sortable('tituloCaja',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Título caja')}}</th>
          <th style="border:0px;">{{macros.th_sortable('nroDesdeCaja',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','N° Desde')}}</th>
          <th style="border:0px;">{{macros.th_sortable('nroHastaCaja',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','N° Hasta')}}</th>
          <th style="border:0px;" width = "80px">{{macros.th_sortable('fechaDesdeCaja',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Fecha carga')}}</th>
          <th style="border:0px;" width = "80px">{{macros.th_sortable('archivadoHasta',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Archivado hasta')}}</th>
          <th style="border:0px;">{{macros.th_sortable('observa',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Observa')}}</th>
          <th style="border:0px;">{{macros.th_sortable('estado',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'viewBoxes','Estado')}}</th>
          <th style="border:0px;" width = "100px" class="noExl">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for box in boxes %}
        <tr>
          <td>{{box.id}}</td>
          <td>{{box.codEstante}}</td>
          <td>{{box.codLado}}</td>
          <td>{{box.columna}}</td>
          <td>{{box.piso}}</td>
          <td>{{box.codArea}}</td>
          <td><small>{{box.tituloCaja}}</small></td>
          <td>{{box.nroDesdeCaja}}</td>
          <td>{{box.nroHastaCaja}}</td>
          <td><small>{{box.fechaDesdeCaja|date('d-m-Y')}}</small></td>
          <td><small>{{box.archivadoHasta|date('d-m-Y')}}</small></td>
          <td><small>{{box.observa}}</small></td>
          <td>{% include 'box/_boxEstados.html.twig' with {'estado': box.estado } %}</td>
          <td class="actions  noExl">
            <div class="btn-group">
              <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Opciones <span class="caret"></span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" title='Vista Previa' href="{{ path('showBox', { 'id': box.id }) }}">Vista Previa</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" title='Editar'  href="{{ path('editBox', { 'id': box.id }) }}">Editar</a>
                {# <a class="dropdown-item" onclick="return confirm('Seguro desea Eliminar!');" title="Delete" href="{{ path('deleteBox', { 'id': box.id}) }}">Eliminar</a> #}
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>
<!-- END TABLE -->

<div class="row">
  <div class="col-md-4 pull-left">
    <!-- EXPORT DATE -->
    <div class="dropdown dropup">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar Datos
        <span class="caret"></span></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" onclick="exportToExcel()" href="#"><img src="{{ asset('images/icons/xls.png') }}" width="24"> Excel</a>
        </div>
    </div>
    <!-- END EXPORT DATE -->
  </div>

  <div class='col-md-3 text-center'>
        <p>{{totalOfRecordsString}}</p>
  </div>

  <div class="col-md-5">
    <div class="float-right">
      {{ pagerHtml|raw }}
    </div>
  </div>
</div>

{% endblock %}
{% block javascript %}
	{{ parent()}}
    <script type="text/javascript" src=" {{ asset('js/jquery.table2excel.js') }}"></script>
{% endblock %}
