{% extends "base.html.twig" %}

{% block body %}
<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-file"></i>&nbsp;&nbsp;<b>Ingreso de datos</b>
    </div>
    <form method="post">
    <div class="card-body" style="padding-bottom:0px;padding-top:16px;">
        {% if box is defined %}
        <div class="row">
            <div class="col-md-3">
                <label>Fecha<span class="ml-1 text-danger">*</span></label>
                <input value="{{box.fechaDesdeCaja|date('Y-m-d')}}" type="date" class="form-control" name="Depcaja[fechaDesde]" required>
            </div>
            <div class="col-md-3">
                <label>Archivado hasta {% if box.estado == 2 %}<span class="text-success" style="cursor: pointer;" data-toggle="tooltip" data-placement="right" title="Si desea modificar esta fecha, por favor ponga en NO la última opción del formulario">(?)</span>{% else %}<span class="ml-1 text-danger">*</span>{% endif %}</label>
                <input value="{{box.archivadoHasta|date('Y-m-d')}}" type="date" class="form-control" name="Depcaja[archivadoHasta]" {% if box.estado == 2 %}readonly{% else %}required{% endif %}>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label>Código estante<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[codEstante]" value="{{box.codEstante}}" required>
            </div>
            <div class="col-md-3">
                <label>Código lado<span class="ml-1 text-danger">*</span></label>
                {# <input class="form-control" type="text" name="Depcaja[codLado]" value="{{box.codLado}}" required> #}
                <select class="form-control" name="Depcaja[codLado]" id="" required>
                    <option value="1" {% if box.codLado == 1 %}selected{% endif %}>1 - Derecho</option>
                    <option value="2" {% if box.codLado == 2 %}selected{% endif %}>2 - Izquierdo</option>
                    <option value="0" {% if box.codLado == 0 %}selected{% endif %}>0 - No definido</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Columna<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[columna]" value="{{box.columna}}" required>
            </div>
            <div class="col-md-2">
                <label>Piso<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[piso]" value="{{box.piso}}" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Título caja<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[tituloCaja]" value="{{box.tituloCaja}}" required>
            </div>       
            <div class="col-md-4">
                <label>Código área<span class="ml-1 text-danger">*</span></label>
                <input list="areas" name="Depcaja[codArea]" class="form-control" id="area" placeholder="Seleccione un área" value="{{box.codArea}}" required  >
                <datalist id="areas">               
                {% for area in areas %}
                    <option value="{{area.id}}">{{area.id}} - {{area.nomArea}}</option>
                {% endfor %}
                </datalist>
            </div>
            <div class="col-md-2">
                <label>N° Desde <span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[nroDesde]" value="{{box.nroDesdeCaja}}" required>
            </div>
            <div class="col-md-2">
                <label>N° Hasta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[nroHasta]" value="{{box.nroHastaCaja}}" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <label>Observa</label>
                <input class="form-control" type="text" name="Depcaja[observa]" value="{{box.observa}}">
            </div>
            <div class="col-md-2">
                <label>Estado<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="" {% if box.estado == 0 %} value="Vigente" {% elseif box.estado == 1 %} value="Destruida" {% else %} value="No encontrada" {% endif %} readonly>
                {# <select class="form-control" name="Depcaja[estado]" id="" required>
                    <option value="0" {% if box.estado == 0 %} selected {% endif %}>Vigente</option>
                    <option value="1" {% if box.estado == 1 %} selected {% endif %}>Destruida</option>
                    <option value="2" {% if box.estado == 2 %} selected {% endif %}>No encontrada</option>
                </select> #}
            </div>   
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <label>¿Esta caja está perdida?<span class="ml-1 text-danger"></span></label>
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="radio" value="SI" name="Depcaja[estado]" {% if box.estado == 2 %} checked {% endif %}> SI
                    </div>
                    <div class="input-group-text ml-2">
                        <input type="radio" value="NO"  name="Depcaja[estado]" {% if box.estado != 2 %} checked {% endif %}> NO
                    </div>
                </div>                    
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-3">
                <label>Fecha<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Depcaja[fechaDesde]" value="{{now|date('Y-m-d')}}" readonly> 
            </div>
            <div class="col-md-3">
                <label>Archivado hasta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="date" name="Depcaja[archivadoHasta]" value="" required> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <label>Código estante<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[codEstante]" value="" required>
            </div>
            <div class="col-md-3">
                <label>Código lado<span class="ml-1 text-danger">*</span></label>
                {# <input class="form-control" type="text" name="Depcaja[codLado]" value="" required> #}
                <select class="form-control" name="Depcaja[codLado]" id="" required>
                    <option value="" selected>Seleccione una opción</option>
                    <option value="1" >1 - Derecho</option>
                    <option value="2" >2 - Izquierdo</option>
                    <option value="0" >0 - No definido</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Columna<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[columna]" value="" required>
            </div>
            <div class="col-md-2">
                <label>Piso<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[piso]" value="" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Título caja<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[tituloCaja]" value="" required>
            </div>   
            <div class="col-md-4">
                <label>Código área<span class="ml-1 text-danger">*</span></label>
                <input list="areas" name="Depcaja[codArea]" class="form-control" id="area" placeholder="Seleccione un área" required  >
                <datalist id="areas">
                {% for area in areas %}
                    <option value="{{area.id}}">{{area.id}} - {{area.nomArea}}</option>
                {% endfor %}
                </datalist>
            </div>
            <div class="col-md-2">
                <label>N° Desde <span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[nroDesde]" value="" required>
            </div>
            <div class="col-md-2">
                <label>N° Hasta<span class="ml-1 text-danger">*</span></label>
                <input class="form-control" type="text" name="Depcaja[nroHasta]" value="" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <label>Observa</label>
                <input class="form-control" type="text" name="Depcaja[observa]" value="" >
            </div>
            <div class="col-md-2">
                <label>Estado</label>
                <input class="form-control" type="text" name="Depcaja[estado]" value="Vigente" readonly>
            </div>
        </div>
        {% endif %}
        <div class="float-right mb-3">
            <button  class="btn btn-info" style="margin-top:30px;" type="submit"> 
                <i class="far fa-check-circle"></i> {% if box is defined %} Guardar cambios {% else %} Armar caja {% endif %}
            </button>
            <a class="btn btn-secondary text-white" {% if box is defined %} onclick="sweetAlert('edit')" {% else %} onclick="sweetAlert('create')" {% endif %} style="margin-top:30px;"> 
                <i class="fas fa-undo-alt"></i> Volver
            </a>
        </div>
    </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
{{parent()}}
<script src="{{ asset('js/customAlerts.js') }}"></script>
{% endblock %}
